button{
  font-size:20px;
  padding:4px 20px;
  margin:8px;
}
p{font-size:20px; padding:0 20px;}
input[type=text]{
  font-size:18px;
  padding:5px;
}
div#box{
  margin:20px auto;
  padding:20px;
  width:300px;
  border: 1px solid gray; 
  box-shadow:5px 5px 5px #aaa;
}
input[type=checkbox]{
  width:30px; height:30px;
}